<h1><%= @story.title %></h1>


<% if @story.sentences.any? %>
  <h4>Here are the sentences for this story:</h4>

  <% @story.sentences.each do |sentence| %>
    <div class="story-tile">
      <div class="content-author">
        <%= sentence.content %>
        <br>
        <small>by - <%= sentence.author %></small>
      </div>
      <div class="sentence-image">
        <%= image_tag "#{sentence.image}.jpg" %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no sentences yet!</p>
<% end %>
<p>
  <%= link_to "Add a Sentence", new_story_sentence_path(@story) %>
</p>

<p><%= link_to "Edit", edit_story_path(@story) %></p>
<p><%= link_to "Delete", story_path(@story),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to stories", stories_path %></p>
