<!DOCTYPE html>
<html>
  <head>
    <title>StoryTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="my-nav">
      <div class="container">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'Newest', {:controller => "stories", :action => "index", :filter => "newest" } %></li>
          <li><%= link_to 'Most Popular', {:controller => "stories", :action => "index", :filter => "popular" } %></li>
          <li><%= link_to "New Story", new_story_path %></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
